{% extends 'base.html.twig' %}

{% block body %}
    {{  result['article_html'] | raw }}

    <aside class="sidebar">
        {% if searchTerm %}
            <article class="results">
                <h1>{% trans with {'%search_term%': searchTerm} %}results for{% endtrans %}</h1>

                <ol class="result-list">
                    {% for document in documents %}
                        <li><a class="result-link{% if document.internal_id == result.internal_id %} active{% endif %}" href="{{ path('_lemma', {'id': document.internal_id}) }}?q={{ searchTerm }}&start={{ offset }}">{{ document.lemma_normalized }}</a></li>
                    {% endfor %}
                </ol>
            </article>
        {% endif %}
    </aside>

{% endblock %}
