{% extends 'base.html.twig' %}

{% block body %}
    {{ result['article_html'] | raw }}


{% endblock %}

{% block sidebar %}

    {% if definitionIndex | length > 1 %}
        <article class="index">
            <h1>Bedeutungsindex</h1>
            <ol class="index-list">
                {% for definition in definitionIndex %}
                    <li class="index-list-item"><span class="label label-default label-pill">{{ loop.index }}.</span>
                        <a href="#sense{{ loop.index }}">{{ definition.definition_fulltext | truncate(40, true, "‹") }}</a>
                    </li>
                {% endfor %}
            </ol>
        </article>
    {% endif %}

    {% if searchTerm %}
        <article class="results">
            <h1>{% trans with {'%search_term%': searchTerm} %}results for{% endtrans %}</h1>

            <ol class="result-list">
                {% for document in documents %}
                    <li><a class="result-link{% if document.internal_id == result.internal_id %} active{% endif %}"
                           href="{{ path('_lemma', {'id': document.internal_id}) }}?q={{ searchTerm }}&start={{ offset }}">{{ document.lemma_normalized }}</a>
                    </li>
                {% endfor %}
            </ol>
        </article>
    {% endif %}
{% endblock %}
